<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>

    <!--<add name="iBilling" connectionString="Data Source=SKVPPW400\SQLEXPRESS;Initial Catalog=iBilling;User ID=sa;Password=@dmin1234;Pooling=false;Connect Timeout=17400" providerName="System.Data.SqlClient" />-->
    <add name="iBilling" connectionString="Data Source=10.170.9.12;Initial Catalog=iBilling;User ID=sa;Password=@dmin1234;Pooling=false;Connect Timeout=17400" providerName="System.Data.SqlClient" />
    <add name="Job_apl" connectionString="Data Source=SKVPPW400\SQLEXPRESS;Initial Catalog=JOB_APL;User ID=sa;Password=@dmin1234;Connect Timeout=17400" providerName="System.Data.SqlClient" />

  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
